@model SistemaAsp.Models.ViewModels.EmpleadosViewModel
@{
    ViewBag.Title = "Nuevo";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("Editar", "Empledos", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            @Html.HiddenFor(d => d.Id)
            <div>
                @Html.LabelFor(d => d.nombre)
                @Html.TextBoxFor(d => d.nombre, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.nombre, null, new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(d => d.edad)
                @Html.TextBoxFor(d => d.edad, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.edad, null, new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(d => d.telefono)
                @Html.TextBoxFor(d => d.telefono, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.telefono, null, new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(d => d.direccion)
                @Html.TextBoxFor(d => d.direccion, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.direccion, null, new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(d => d.empresa)
                @Html.TextBoxFor(d => d.empresa, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.empresa, null, new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(d => d.departamento)
                @Html.TextBoxFor(d => d.departamento, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.departamento, null, new { @class = "text-danger" })
            </div>

            <br />
            <div style="text-align:right;">
                <input value="Guardar" class="btn btn-primary" type="submit" />
            </div>
        </div>

    </div>
}